html{
    padding: 0 0;
    height: 100vh;
}

.header{
    margin-bottom: 3%;
    justify-content: center;
}
.container{
margin: 2% 5% !important;
border: 1px solid black;
height: 800px;
text-align: center;
}

.col-md-4{
    border: 1px black dotted;
}