h1{
    color: #8314de
}
li{
    color: red;
}

h4{
    background-color: #fc8719;
    border: 5px solid #8314de;
}

body{
    background-image: url(https://3.bp.blogspot.com/-EVibYkXd3lk/Uz5v-tPpzpI/AAAAAAAAcBQ/tZCnYijtk44/s1600/Abstract+Wind+Wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}