.jumbotron{
background-image: url("https://previews.123rf.com/images/tttpongsak/tttpongsak1906/tttpongsak190600004/124953685-brick-wall-gray-white-bricks-wall-texture-background-for-graphic-design.jpg");
background-size: cover;
background-position: center;
}
